.Button {
    margin: 1rem;
    font-family: "Roboto";
    width: 30rem;
    padding: 1rem;
    color: rgb(62, 158, 62);
    background-color: white;
    border-radius: 5px;
    font-size: 1.6rem;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-weight: 200;
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Button:hover {
    color: white;
    background-color: rgb(62, 158, 62);
}
.ButtonDiv {
    display: flex;
    justify-content: center;
}

.Button span {
    flex-basis: 60%;
}

.InputContainer {
    margin: 0 auto;
    width: 40%;
}

.EmptyMessage {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color: rgb(240, 99, 99);
}
