.InputWrapper {
    display: flex;
    width: 30%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    position: relative;
}
.SpinnerWrapper {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, 50%);
    margin-top: 1rem;
}
