.Box {
    width: 95%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    margin: 10rem auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: relative;
}
.Close {
    width: 2rem;
    height: 4rem;
    cursor: pointer;
    margin-right: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.Button {
    display: block;
    margin: 1rem auto;
    font-family: "Roboto";
    width: 16rem;
    height: 5rem;
    padding: 1rem;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 1.6rem;
    outline: none;
}
