.Box {
    width: 95%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    margin: 2.5rem auto;
    display: flex;
    justify-content: space-between;
    background-color: #f9fcff;
    position: relative;
    padding-bottom: 2rem;
}
.Close {
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}
.CloseHolder {
    width: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.AddSentenceButton {
    display: block;
    margin: 1rem auto;
    font-family: "Roboto";
    width: 60%;
    padding: 0.7rem;
    color: rgb(3, 100, 3);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 1.6rem;
    outline: none;
    text-transform: capitalize;
    border: none;
    font-weight: 100;
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}
.AddSentenceButton:hover {
    color: white;
    background-color: rgb(3, 100, 3);
}
.addCircle {
    display: flex;
    justify-content: center;
}
.Circle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1000;
}
.selectWrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
